################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Tech-Journal-ConsoleApp/Tech-Journal-ConsoleApp/obj
/Tech-Journal-ConsoleApp/.vs/Tech-Journal-ConsoleApp/v16
/.vs/Tech-Journal-Project/v16
/Tech-Journal-ConsoleApp/Tech-Journal-ConsoleApp/bin/Debug/netcoreapp3.1
/.vs
